{% extends "base/auth_base.html" %} {% block title %}Add Group | FastAPI HTMX {%
endblock %} {% block content %}

<form
  id="create-group-form"
  hx-target="this"
  hx-post="{{ url_for('post_create_group') }}"
  hx-swap="outerHTML"
  hx-push-url="true"
  hx-headers='{"X-CSRF-Token": "{{ csrf_token }}"}'
>
  <div class="mb-6">
    <label
      for="group-type"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Group Type</label
    >
    <input
      type="text"
      id="group-type"
      name="group_name"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      placeholder="Enter the group type"
      _="on htmx:validation:validate
                if my.value == ''
                    call me.setCustomValidity('Please enter the Group Type')
                else
                    call me.setCustomValidity('')"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="group-desc"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Group Description</label
    >
    <input
      type="text"
      id="group-desc"
      name="group_desc"
      placeholder="Enter the group description."
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      required
    />
  </div>
  {% if error_messages %}
  <div
    id="error-message"
    class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
    role="alert"
  >
    {% for error in error_messages %}
    <span class="font-medium">{{ error }}</span><br />
    {% endfor %}
  </div>
  {% endif %}
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Create New Group
  </button>
</form>
{% endblock %}
