{% extends "base/base.html" %} {% block title %}Role Add | Admin Dashboard {%
endblock %} {% block content %}

<form
  id="create-role-form"
  hx-target="this"
  hx-post="{{ url_for('post_create_roles') }}"
  hx-swap="outerHTML"
  hx-push-url="true"
>
  <div class="mb-6">
    <label
      for="role-type"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Role Type</label
    >
    <input
      type="text"
      id="role-type"
      name="role_name"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      placeholder="Project Manager"
      _="on htmx:validation:validate
                if my.value == ''
                    call me.setCustomValidity('Please enter the Role Type')
                else
                    call me.setCustomValidity('')"
      required
    />
  </div>
  <div class="mb-6">
    <label
      for="role-desc"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Role Description</label
    >
    <input
      type="text"
      id="role-desc"
      name="role_desc"
      placeholder="Project manager is responsible for the planning, execution and closing of any project."
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      required
    />
  </div>
  {% if error_messages %}
  <div
    id="error-message"
    class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
    role="alert"
  >
    {% for error in error_messages %}
    <span class="font-medium">{{ error }}</span><br />
    {% endfor %}
  </div>
  {% endif %}
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Create New Role
  </button>
</form>
{% endblock %}
