{% extends "base.html" %}

{% block title %}Login | Sparrow App{% endblock %}

{% block content %}
    <div class="flex justify-center items-center h-screen">
        <div class="bg-white shadow-lg rounded-lg p-8">
            <h1 class="text-2xl font-bold mb-8">Admin Dashboard</h1>
            <form action="/auth/jwt/login" method="post" class="login-form">
                <div class="mb-6">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email address</label>
                    <input type="email" id="email" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="john.doe@company.com" autocomplete="off" required>
                </div> 
                <div class="mb-6">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                    <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autocomplete="new-password" placeholder="•••••••••" required>
                </div>  
                <div>
                    <button type="submit" id="login-button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
                </div>
                {% if invalid %}
                <div class="invalid-login-warning">
                    <p>Invalid login! Please retry.</p>
                </div>
                {% elif logged_out %}
                <div class="invalid-login-warning">
                    <p>Successfully logged out.</p>
                </div>
                {% elif unauthorized %}
                <div class="invalid-login-warning">
                    <p>Please login first.</p>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}