<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Your Page Title{% endblock %}</title>
    <!-- Add any other head elements here -->

    <!-- Include the CSS for Flowbite -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- Include the Flowbite JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.0.0/flowbite.min.js"></script>
    <script src="/static/js/htmx.min.js?v=1.5.0"></script>
    <script>
      htmx.onLoad(function (content) {
        initFlowbite();
      });
    </script>
    {% block additional_head %}{% endblock %}
  </head>

  <body>
    {% if current_page not in ["register", "login"] %} {% include
    "partials/auth_navigation.html" %} {% endif %}
    <!-- Your page content goes here -->
    {% block content %}{% endblock %}

    <!-- Include the HTMX script -->
    <!-- <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script> -->
    <script src="/static/js/htmx.min.js?v=1.5.0"></script>

    <!-- Include the hyperscript script -->
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>

    <!-- Alpine Plugins -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"
    ></script>

    <!-- Alpine Core -->
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>

    {% block additional_scripts %}{% endblock %}
  </body>
</html>
